
<!DOCTYPE html>
<html>
<head>
<title>Tambola Final</title>
<style>
body { font-family: Arial; text-align:center; }
.grid { display:grid; grid-template-columns: repeat(5,50px); gap:5px; justify-content:center; margin-top:10px;}
.cell { border:1px solid black; padding:10px; }
.marked { background: lightgreen; }
</style>
</head>
<body>

<h2>Tambola Game</h2>

<input id="name" placeholder="Enter name">
<button onclick="join()">Join</button>
<button onclick="start()">Start</button>

<h3 id="host"></h3>
<h3 id="count"></h3>

<h3>Players Joined</h3>
<ul id="players"></ul>

<h3 id="status"></h3>

<div id="ticket" class="grid"></div>

<h3>Current Number: <span id="num"></span></h3>

<h3>Winners</h3>
<ul id="wins"></ul>

<script>
let ws;
let myTicket=[];

window.onload = () => {
 let protocol = location.protocol === "https:" ? "wss://" : "ws://";
 ws = new WebSocket(protocol + location.host + "/ws");

 ws.onmessage=(e)=>{
  let d=JSON.parse(e.data);

  if(d.type==="players"){
    let list=document.getElementById("players");
    list.innerHTML="";
    d.players.forEach(p=>{
      let li=document.createElement("li");
      li.innerText=p;
      list.appendChild(li);
    });
    document.getElementById("count").innerText="Users Joined: "+d.count;
  }

  if(d.type==="host"){
    document.getElementById("host").innerText="Host: "+d.host;
  }

  if(d.type==="countdown"){
    document.getElementById("status").innerText="Game starting in 3 seconds...";
  }

  if(d.type==="tickets"){
    let name=document.getElementById("name").value;
    myTicket=d.tickets[name];
    renderTicket();
    document.getElementById("status").innerText="Game Started!";
  }

  if(d.type==="number"){
    document.getElementById("num").innerText=d.number;
    markNumber(d.number);

    d.winners.forEach(w=>{
      let li=document.createElement("li");
      li.innerText=w;
      document.getElementById("wins").appendChild(li);
    });
  }
 };
};

function join(){
 let n=document.getElementById("name").value;
 ws.send(JSON.stringify({type:"join",name:n}));
}

function start(){
 let n=document.getElementById("name").value;
 ws.send(JSON.stringify({type:"start",name:n}));
}

function renderTicket(){
 let grid=document.getElementById("ticket");
 grid.innerHTML="";
 myTicket.forEach(n=>{
   let div=document.createElement("div");
   div.className="cell";
   div.id="c"+n;
   div.innerText=n;
   grid.appendChild(div);
 });
}

function markNumber(num){
 let el=document.getElementById("c"+num);
 if(el) el.classList.add("marked");
}
</script>

</body>
</html>
